# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Environment
.env

# Mac
.DS_Store